<!DOCTYPE HTML>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <title>ChauffeurCost</title>
    <style type="text/css">
        .modal-header {
            padding: 6px 5px;
            border-bottom: none;
            background: #d8d8d2;
            text-align: center;
            color: #000;
        }

        .modal-content {
            padding: 6px;
        }

        .modal-body {
            padding: 0 25px;
        }

        .btn {
            background: #d8d8d2;
            margin-top: 5px;
        }

            .btn:hover {
                background: #5190f8;
            }

        .container {
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12" style="margin-top:10px;">
            <form id="rere">
                <div class="col-lg-2 col-md-1 col-sm-1">
                    <input type="text" class="form-control" id="Always" placeholder="报价日期" />
                </div>
                <div class="col-lg-2 col-md-1 col-sm-1">
                    <input type="text" class="form-control" id="Begin" placeholder="生效日期" />
                </div>
                <div class="col-lg-2 col-md-1 col-sm-1">
                    <input type="text" class="form-control" id="Finish" placeholder="失效日期" />
                </div>
                <button class="btn  glyphicon glyphicon-search" type="button" id="Check" style="margin-top:-1px;"> 查询</button>
                <button class="btn  glyphicon glyphicon-repeat" type="button" id="Repeat" style="margin-top:-1px;"> 重置</button>
            </form>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12" style="float:right">
            <div class="panel-body">
                <div class="row examineeInfor">
                    <table id="Offer" class="table table-condensed" style="width:100%">
                        <thead>
                            <tr>
                                <th w_index="OfferID" w_check="true">选择</th>
                                <th w_num="total_line">序号</th>
                                <th w_index="OfferType" width="">报价分类</th>
                                <th w_index="OfferDatetime" width="">报价日期</th>
                                <th w_index="TakeEffectDatetime" width="">生效日期</th>
                                <th w_index="LoseEfficacyDatetime" width="">失效日期</th>
                                <th w_index="Remark" width="">备注</th>
                                <th w_render="SetState">是否含税</th>
                                <th w_index="WhetherShui" w_hidden="true">是否含税</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12">
            <button class="btn  glyphicon glyphicon-off" type="button" id="Close"> 关闭</button>
            <button class="btn  glyphicon glyphicon-refresh" type="button" id="Refresh"> 刷新</button>
            <button class="btn  glyphicon glyphicon-plus" type="button" id="Insert"> 新增</button>
            <button class="btn  glyphicon glyphicon-pencil" type="button" id="Update"> 编辑</button>
            <button class="btn  glyphicon glyphicon-remove" type="button" id="Delete"> 删除</button>
            <button class="btn  glyphicon glyphicon-search" type="button" id="Check"> 查询</button>
            <button class="btn  glyphicon glyphicon-print" type="button" id="Print"> 打印</button>
            <button class="btn  glyphicon glyphicon-paste" type="button" id="ExportToExcel"> 导出</button>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12" style="float:right">
            <div class="panel-body">
                <div class="row examineeInfor">
                    <table id="OfferDetail" class="table table-condensed" style="width:100%">
                        <thead>
                            <tr>
                                <th w_index="OfferDetailID" w_check="true">选择</th>
                                <th w_num="total_line">序号</th>
                                <th w_index="HaulWayDescription" width="">运输路线</th>
                                <th w_index="ExpenseName" width="">费用项目</th>
                                <th w_index="CabinetType" width="">箱型</th>
                                <th w_index="EtryClasses" width="">报关方式</th>
                                <th w_index="Money" width="">金额</th>
                                <th w_index="Currency" width="">币种</th>
                                <th w_index="Remark" width="">备注</th>
                                <th w_index="StaffName" width="">报价人</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
    @*新增模态框*@
    <div class="modal  bs-example-modal-sm" id="modInsertExaminee">
        <div class="modal-content" style="width:700px;height:330px;margin-left:450px;">
            <div class="modal-header">
                <h5 class="modal-title glyphicon glyphicon-plus"> 船舶资料</h5>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="formInsert" action="/Basics/Basics/InsertShip" method="post">
                    <div class="row" style="margin-top:5px;">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-2 col-md-3 col-sm-2 text-right">
                                <label class="control-label">船舶代码:</label>
                            </div>
                            <div class="col-lg-4 col-md-5 col-sm-5">
                                <input type="text" class="form-control" name="ShipCode" maxlength="10" onkeyup="value = value.replace(/[^A-Z]+$/,'')" />
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-2 text-right">
                                <label class="control-label">简称:</label>
                            </div>
                            <div class="col-lg-4 col-md-5 col-sm-5">
                                <input type="text" class="form-control" name="Abbreviation" maxlength="10" onkeyup="value=value.replace(/[^\u4E00-\u9FA5]/g,'')" />
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:5px;">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-2 col-md-3 col-sm-2 text-right">
                                <label class="control-label">中文名:</label>
                            </div>
                            <div class="col-lg-4 col-md-5 col-sm-5">
                                <input type="text" class="form-control" id="" name="ChineseName" maxlength="10" onkeyup="value=value.replace(/[^\u4E00-\u9FA5]/g,'')" />
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-2 text-right">
                                <label class="control-label">英文名:</label>
                            </div>
                            <div class="col-lg-4 col-md-5 col-sm-5">
                                <input type="text" class="form-control" id="" name="EnglishName" maxlength="10" onkeyup="value = value.replace(/[^a-z/A-Z]+$/, '')" />
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:5px;">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-2 col-md-3 col-sm-2 text-right">
                                <label class="control-label">船公司:</label>
                            </div>
                            <div class="col-lg-4 col-md-5 col-sm-5">
                                <select id="ClientTypeID" name="ClientTypeID" class="form-control">
                                    <option value=""></option>
                                </select>
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-2 text-right">
                                <label class="control-label">经营者:</label>
                            </div>
                            <div class="col-lg-4 col-md-5 col-sm-5">
                                <input type="text" class="form-control" name="Operator" />
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:5px;">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-2 col-md-3 col-sm-2 text-right">
                                <label class="control-label">船东:</label>
                            </div>
                            <div class="col-lg-4 col-md-5 col-sm-5">
                                <input type="text" class="form-control" name="ShipEast" />
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-2 text-right">
                                <label class="control-label">船舶类型:</label>
                            </div>
                            <div class="col-lg-4 col-md-5 col-sm-5">
                                <select name="ShipType" class="form-control">
                                    <option value="">----请选择----</option>
                                    <option value="木材船">木材船</option>
                                    <option value="油船">油船</option>
                                    <option value="集装箱船">集装箱船</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:5px;">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-2 col-md-3 col-sm-2 text-right">
                                <label class="control-label">船长姓名:</label>
                            </div>
                            <div class="col-lg-4 col-md-5 col-sm-5">
                                <input type="text" class="form-control" name="CaptainName" />
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-lg-offset-2">
                                <label>
                                    <input type="checkbox" name="WhetherStart" id="" value="true" />
                                    是否启用
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:5px;">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-2 col-md-3 col-sm-2 text-right">
                                <label class="control-label">联系电话:</label>
                            </div>
                            <div class="col-lg-4 col-md-5 col-sm-5">
                                <input type="text" class="form-control" name="ShipMobile" maxlength="11" onkeyup="value=value.replace(/[^0-9]/g,'')" />
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:5px;">
                        <div class="col-lg-11 col-md-8 col-sm-10 col-lg-offset-4">
                            <button class="btn glyphicon glyphicon-repeat" type="reset"> 重置</button>
                            <button class="btn glyphicon glyphicon-ok" type="button" id="Saveship"> 保存</button>
                            <button class="btn glyphicon glyphicon-remove" data-dismiss="modal"> 关闭</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    @*修改模态框*@
    <div class="modal  bs-example-modal-sm" id="modUpdateExaminee">
        <div class="modal-content" style="width:700px;height:330px;margin-left:450px;">
            <div class="modal-header">
                <h5 class="modal-title glyphicon glyphicon-pencil"> 船舶资料</h5>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" role="form" id="formUpdate" action="/Basics/Basics/UpdateShip" method="post">
                    <div class="row" style="margin-top:5px;">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-2 col-md-3 col-sm-2 text-right">
                                <label class="control-label">船舶代码:</label>
                            </div>
                            <div class="col-lg-4 col-md-5 col-sm-5">
                                <input type="text" class="form-control" name="ShipCode" maxlength="10" onkeyup="value = value.replace(/[^A-Z]+$/,'')" />
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-2 text-right">
                                <label class="control-label">简称:</label>
                            </div>
                            <div class="col-lg-4 col-md-5 col-sm-5">
                                <input type="text" class="form-control" name="Abbreviation" maxlength="10" onkeyup="value=value.replace(/[^\u4E00-\u9FA5]/g,'')" />
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:5px;">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-2 col-md-3 col-sm-2 text-right">
                                <label class="control-label">中文名:</label>
                            </div>
                            <div class="col-lg-4 col-md-5 col-sm-5">
                                <input type="text" class="form-control" name="ChineseName" maxlength="10" onkeyup="value=value.replace(/[^\u4E00-\u9FA5]/g,'')" />
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-2 text-right">
                                <label class="control-label">英文名:</label>
                            </div>
                            <div class="col-lg-4 col-md-5 col-sm-5">
                                <input type="text" class="form-control" name="EnglishName" maxlength="10" onkeyup="value = value.replace(/[^a-z/A-Z]+$/, '')" />
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:5px;">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-2 col-md-3 col-sm-2 text-right">
                                <label class="control-label">船公司:</label>
                            </div>
                            <div class="col-lg-4 col-md-5 col-sm-5">
                                <select id="ClientTypeIDl" name="ClientTypeID" class="form-control">
                                    <option value="0"></option>
                                </select>
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-2 text-right">
                                <label class="control-label">经营者:</label>
                            </div>
                            <div class="col-lg-4 col-md-5 col-sm-5">
                                <input type="text" class="form-control" name="Operator" />
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:5px;">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-2 col-md-3 col-sm-2 text-right">
                                <label class="control-label">船东:</label>
                            </div>
                            <div class="col-lg-4 col-md-5 col-sm-5">
                                <input type="text" class="form-control" name="ShipEast" />
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-2 text-right">
                                <label class="control-label">船舶类型:</label>
                            </div>
                            <div class="col-lg-4 col-md-5 col-sm-5">
                                <select name="ShipType" class="form-control">
                                    <option value="0"></option>
                                    <option value="木材船">木材船</option>
                                    <option value="油船">油船</option>
                                    <option value="集装箱船">集装箱船</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:5px;">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-2 col-md-3 col-sm-2 text-right">
                                <label class="control-label">船长姓名:</label>
                            </div>
                            <div class="col-lg-4 col-md-5 col-sm-5">
                                <input type="text" class="form-control" name="CaptainName" />
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-lg-offset-2">
                                <label>
                                    <input type="checkbox" name="WhetherStart" value="true" />
                                    是否启用
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:5px;">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-2 col-md-3 col-sm-2 text-right">
                                <label class="control-label">联系电话:</label>
                            </div>
                            <div class="col-lg-4 col-md-5 col-sm-5">
                                <input type="text" class="form-control" name="ShipMobile" maxlength="11" onkeyup="value=value.replace(/[^0-9]/g,'')" />
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:5px;">
                        <div class="col-lg-11 col-md-8 col-sm-10 col-lg-offset-4">
                            <button class="btn glyphicon glyphicon-repeat" type="reset"> 重置</button>
                            <button class="btn glyphicon glyphicon-ok" type="button" id="UpdateSave"> 保存</button>
                            <button class="btn glyphicon glyphicon-remove" data-dismiss="modal"> 关闭</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    @*查询模态框*@
    <div class="modal  bs-example-modal-sm" id="modCheckExaminee">
        <div class="modal-content" style="width:700px;height:290px;margin-left:450px;">
            <div class="modal-header">
                <h5 class="modal-title glyphicon glyphicon-search"> 查询司机产值</h5>
            </div>
            <form id="formCheckChauffeurDetail">
                <div class="modal-body">
                    <div class="row" style="margin-top:5px;">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-2 col-md-3 col-sm-2 text-right">
                                <label class="control-label">报价人:</label>
                            </div>
                            <div class="col-lg-4 col-md-5 col-sm-5">
                                <select id="Staff" class="form-control">
                                    <option value="">----请选择----</option>
                                </select>
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-2 text-right">
                                <label class="control-label">箱型:</label>
                            </div>
                            <div class="col-lg-4 col-md-5 col-sm-5">
                                <select id="Type" class="form-control">
                                    <option value="">----请选择----</option>
                                    <option value="20GP">20GP</option>
                                    <option value="40GP">40GP</option>
                                    <option value="60GP">60GP</option>
                                    <option value="80GP">80GP</option>
                                    <option value="100GP">100GP</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:5px;">
                        <div class="col-lg-12 col-md-12 col-sm-12">
                            <div class="col-lg-2 col-md-3 col-sm-2 text-right">
                                <label class="control-label">报关方式:</label>
                            </div>
                            <div class="col-lg-4 col-md-5 col-sm-5">
                                <select id="Classes" class="form-control">
                                    <option value="">----请选择----</option>
                                    <option value="自理报关">自理报关</option>
                                    <option value="直接代理报关">直接代理报关</option>
                                    <option value="间接代理报关">间接代理报关</option>
                                </select>
                            </div>
                            <div class="col-lg-2 col-md-3 col-sm-2 text-right">
                                <label class="control-label">币种:</label>
                            </div>
                            <div class="col-lg-4 col-md-5 col-sm-5">
                                <select id="rency" class="form-control">
                                    <option value="">----请选择----</option>
                                    <option value="RMB">RMB</option>
                                    <option value="CAD">CAD</option>
                                    <option value="USD">USD</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:5px;">
                        <div class="col-lg-11 col-md-8 col-sm-10 col-lg-offset-4">
                            <button class="btn glyphicon glyphicon-search" type="button" id="modelcheck"> 查询</button>
                            <button class="btn glyphicon glyphicon-remove" data-dismiss="modal"> 关闭</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <link href="~/Content/jquery.bsgrid-1.37/builds/merged/bsgrid.all.min.css" rel="stylesheet" />
    <script src="~/Content/bootstrap-3.3.7-dist/js/jquery-2.0.3.min.js"></script>
    <script src="~/Content/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="~/Content/jquery.bsgrid-1.37/builds/merged/bsgrid.all.min.js"></script>
    <script src="~/Content/jquery.bsgrid-1.37/builds/js/lang/grid.zh-CN.min.js"></script>
    <script src="~/Content/js/jquery.form.js"></script>
    <script src="~/Content/js/customfunction.js"></script>
    <script src="~/Content/js/combobox.js"></script>
    <script src="~/Content/layer/layer.js"></script>
</body>

</html>
