
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Tree/jsTree/style.min.css" rel="stylesheet" />
    <title>ClientCriterion</title>
    <style type="text/css">
        .modal-header {
            padding: 6px 5px;
            border-bottom: none;
            background: #d8d8d2;
            text-align: center;
            color: #000;
        }

        .modal-content {
            padding: 6px;
        }

        .modal-body {
            padding: 0 25px;
        }

        .btn {
            /*background:#d8d8d2;*/
            background: #d8d8d2;
            margin-top: 5px;
            /*color:#fff;*/
        }

            .btn:hover {
                background: #5190f8;
            }

        .container {
            width: 100%;
        }
        /*.panel-body{
            padding:0;
        }*/
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2">
                <div id="A">
                    <ul>
                        <li class="jstree-open">
                        </li>
                    </ul>
                </div>
            </div>
            <div>
                <div class="col-lg-10 col-md-10 col-sm-10" style="float:right">
                    <button class="btn  glyphicon glyphicon-off" type="button" id="Close"> 关闭</button>
                    <button class="btn  glyphicon glyphicon-refresh" type="button" id="Refresh"> 刷新</button>
                    <button class="btn  glyphicon glyphicon-plus" type="button" id="Insert"> 新增</button>
                    <button class="btn  glyphicon glyphicon-pencil" type="button" id="Update"> 编辑</button>
                    <button class="btn  glyphicon glyphicon-remove" type="button" id="Delete"> 删除</button>
                    <button class="btn  glyphicon glyphicon-duplicate" type="button" id="Copy"> 复制</button>
                    <button class="btn  glyphicon glyphicon-print" type="button" id="Print"> 打印</button>
                    <button class="btn  glyphicon glyphicon-paste" type="button" id="ExportToExcel"> 导出</button>
                    <button class="btn  glyphicon glyphicon-search" type="button" id="Check"> 查询</button>
                    <button class="btn  glyphicon glyphicon-repeat" type="button" id="Repeat"> 重置</button>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10" style="float:right">
                    <div class="panel-body">
                        <div class="row examineeInfor">
                            <table id="" class="table table-condensed" style="width:100%">
                                <thead>
                                    <tr>
                                        <th w_index="" w_check="true">选择</th>
                                        <th w_num="total_line">序号</th>
                                        <th w_index="" width="">报价日期</th>
                                        <th w_index="" width="">生效日期</th>
                                        <th w_index="" width="">失效日期</th>
                                        <th w_index="" width="">备注</th>
                                        <th w_index="" width="">是否含税</th>
                                        <th w_index="" width="">报价人</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10" style="float:right">
                    <button class="btn  glyphicon glyphicon-plus" type="button" id="InsertXia"> 新增</button>
                    <button class="btn  glyphicon glyphicon-pencil" type="button" id="UpdateXia"> 编辑</button>
                    <button class="btn  glyphicon glyphicon-duplicate" type="button" id="CopyXia"> 复制</button>
                    <button class="btn  glyphicon glyphicon-remove" type="button" id="DeleteXia"> 删除</button>
                    <button class="btn  glyphicon glyphicon-search" type="button" id="CheckXia"> 查询</button>
                    <button class="btn  glyphicon glyphicon-edit" type="button" id="Edit"> 批量修改</button>
                    <button class="btn  glyphicon glyphicon-open-file" type="button" id="File"> 导入报价</button>
                </div>
                <div class="col-lg-10 col-md-10 col-sm-10" style="float:right">
                    <div class="panel-body">
                        <div class="row examineeInfor">
                            <table id="" class="table table-condensed" style="width:100%">
                                <thead>
                                    <tr>
                                        <th w_index="" w_check="true">选择</th>
                                        <th w_num="total_line">序号</th>
                                        <th w_index="" width="">运输路线</th>
                                        <th w_index="" width="">费用项目</th>
                                        <th w_index="" width="">箱型</th>
                                        <th w_index="" width="">报关方式</th>
                                        <th w_index="" width="">金额</th>
                                        <th w_index="" width="">币种</th>
                                        <th w_index="" width="">备注</th>
                                        <th w_index="" width="">汇率</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            @*新增报价日期*@
            <div class="modal  bs-example-modal-sm" id="modInsertShangExaminee">
                <div class="modal-content" style="width:350px;height:360px;margin-left:640px;">
                    <div class="modal-header">
                        <h5 class="modal-title glyphicon glyphicon-plus"> 报价日期</h5>
                    </div>
                    <div class=" modal-body">
                        <form class="form-horizontal" role="form" id="formInsertShang" action="" method="post">
                            <div class="row" style="margin-top:5px;">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="col-lg-4 col-md-4 col-sm-4 text-right">
                                        <label class="control-label">省份名称:</label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        <select id="province" name="Province" class="form-control">
                                            <option value="0">----请选择----</option>
                                            <option value="安徽省">安徽省</option>
                                            <option value="北京省">北京省</option>
                                            <option value="重庆省">重庆省</option>
                                            <option value="福建省">福建省</option>
                                            <option value="贵州省">贵州省</option>
                                            <option value="广东省">广东省</option>
                                            <option value="甘肃省">甘肃省</option>
                                            <option value="黑龙江">黑龙江</option>
                                            <option value="河北省">河北省</option>
                                            <option value="河南省">河南省</option>
                                            <option value="湖北省">湖北省</option>
                                            <option value="湖南省">湖南省</option>
                                            <option value="海南省">海南省</option>
                                            <option value="吉林省">吉林省</option>
                                            <option value="江苏省">江苏省</option>
                                            <option value="江西省">江西省</option>
                                            <option value="辽宁省">辽宁省</option>
                                            <option value="青海省">青海省</option>
                                            <option value="山西省">山西省</option>
                                            <option value="山东省">山东省</option>
                                            <option value="四川省">四川省</option>
                                            <option value="上海省">上海省</option>
                                            <option value="台湾省">台湾省</option>
                                            <option value="天津省">天津省</option>
                                            <option value="陕西省">陕西省</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:5px;">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="col-lg-4 col-md-4 col-sm-4 text-right">
                                        <label class="control-label">城市名称:</label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        @*<input type="text" class="form-control" id="City" name="" />*@
                                        <select id="City" name="CityID" class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:5px;">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="col-lg-4 col-md-4 col-sm-4 text-right">
                                        <label class="control-label">门点编码:</label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        <input type="text" class="form-control" id="" name="GatedotCode" />
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:5px;">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="col-lg-4 col-md-4 col-sm-4 text-right">
                                        <label class="control-label">门点名称:</label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        <input type="text" class="form-control" id="" name="GatedotName" />
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:5px;">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="col-lg-4 col-md-4 col-sm-4 text-right">
                                        <label class="control-label">描述:</label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        <input type="text" class="form-control" id="" name="Describe" />
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:5px;">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-lg-offset-4">
                                        <label>
                                            <input type="checkbox" name="WhetherSuperiorGatedot" id="" value="true" />
                                            是否上级门点
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:5px;">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-lg-offset-4">
                                        <label>
                                            <input type="checkbox" name="WhetherValid" id="" value="true" />
                                            是否有效
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:5px;">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-lg-offset-1">
                                    <button class="btn glyphicon glyphicon-repeat" type="reset"> 重置</button>
                                    <button class="btn glyphicon glyphicon-ok" type="button" id="Savegatedot"> 保存</button>
                                    <button class="btn glyphicon glyphicon-remove" data-dismiss="modal"> 关闭</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            @*修改计费门点*@
            <div class="modal  bs-example-modal-sm" id="modUpdateExaminee">
                <div class="modal-content" style="width:350px;height:360px;margin-left:640px;">
                    <div class="modal-header">
                        <h5 class="modal-title glyphicon glyphicon-pencil"> 计费门点</h5>
                    </div>
                    <div class=" modal-body">
                        <form class="form-horizontal" role="form" id="formUpdate" action="/Basics/Basics/UpdateGatedot" method="post">
                            <div class="row" style="margin-top:5px;">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="col-lg-4 col-md-4 col-sm-4 text-right">
                                        <label class="control-label">省份名称:</label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        <select id="provincel" name="Province" class="form-control">
                                            <option value="0">----请选择----</option>
                                            <option value="安徽省">安徽省</option>
                                            <option value="北京省">北京省</option>
                                            <option value="重庆省">重庆省</option>
                                            <option value="福建省">福建省</option>
                                            <option value="贵州省">贵州省</option>
                                            <option value="广东省">广东省</option>
                                            <option value="甘肃省">甘肃省</option>
                                            <option value="黑龙江省">黑龙江省</option>
                                            <option value="河北省">河北省</option>
                                            <option value="河南省">河南省</option>
                                            <option value="湖北省">湖北省</option>
                                            <option value="湖南省">湖南省</option>
                                            <option value="海南省">海南省</option>
                                            <option value="吉林省">吉林省</option>
                                            <option value="江苏省">江苏省</option>
                                            <option value="江西省">江西省</option>
                                            <option value="辽宁省">辽宁省</option>
                                            <option value="青海省">青海省</option>
                                            <option value="山西省">山西省</option>
                                            <option value="山东省">山东省</option>
                                            <option value="四川省">四川省</option>
                                            <option value="上海省">上海省</option>
                                            <option value="台湾省">台湾省</option>
                                            <option value="天津省">天津省</option>
                                            <option value="陕西省">陕西省</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:5px;">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="col-lg-4 col-md-4 col-sm-4 text-right">
                                        <label class="control-label">城市名称:</label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        @*<input type="text" class="form-control" id="City" name="" />*@
                                        <select id="Cityl" name="CityID" class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:5px;">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="col-lg-4 col-md-4 col-sm-4 text-right">
                                        <label class="control-label">门点编码:</label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        <input type="text" class="form-control" id="" name="GatedotCode" />
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:5px;">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="col-lg-4 col-md-4 col-sm-4 text-right">
                                        <label class="control-label">门点名称:</label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        <input type="text" class="form-control" id="" name="GatedotName" />
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:5px;">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="col-lg-4 col-md-4 col-sm-4 text-right">
                                        <label class="control-label">描述:</label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        <input type="text" class="form-control" id="" name="Describe" />
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:5px;">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-lg-offset-4">
                                        <label>
                                            <input type="checkbox" name="WhetherSuperiorGatedot" id="" value="true" />
                                            是否上级门点
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:5px;">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-lg-offset-4">
                                        <label>
                                            <input type="checkbox" name="WhetherValid" id="" value="true" />
                                            是否有效
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:5px;">
                                <div class="col-lg-11 col-md-8 col-sm-10 col-lg-offset-1">
                                    <button class="btn glyphicon glyphicon-repeat" type="reset"> 重置</button>
                                    <button class="btn glyphicon glyphicon-ok" type="button" id="UpdateSave"> 保存</button>
                                    <button class="btn glyphicon glyphicon-remove" data-dismiss="modal"> 关闭</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            @*查询模态框*@
            <div class="modal  bs-example-modal-sm" id="modCheckExaminee">
                <div class="modal-content" style="width:360px;height:250px;margin-left:610px;">
                    <div class="modal-header">
                        <h5 class="modal-title glyphicon glyphicon-search"> 查询司机资料</h5>
                    </div>
                    <form id="formCheckship">
                        <div class="modal-body">
                            <div class="row" style="margin-top:5px;">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="col-lg-4 col-md-4 col-sm-4 text-right">
                                        <label class="control-label">司机编号:</label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        <input type="text" class="form-control" id="ShipCode" />
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:5px;">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="col-lg-4 col-md-4 col-sm-4 text-right">
                                        <label class="control-label">司机姓名:</label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        <input type="text" class="form-control" id="Abbreviation" />
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:5px;">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="col-lg-4 col-md-4 col-sm-4 text-right">
                                        <label class="control-label">所属机构:</label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        <input type="text" class="form-control" id="EnglishName" />
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:5px;">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="col-lg-4 col-md-4 col-sm-4 text-right">
                                        <label class="control-label">所属车队:</label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        <input type="text" class="form-control" id="EnglishName" />
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:5px;">
                                <div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-5">
                                    <button class="btn glyphicon glyphicon-search" type="button" id="modelcheck">查询</button>
                                    <button class="btn glyphicon glyphicon-remove" data-dismiss="modal">关闭</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            @*查询模态框*@
            <div class="modal  bs-example-modal-sm" id="modCheckExaminee">
                <div class="modal-content" style="width:360px;height:250px;margin-left:610px;">
                    <div class="modal-header">
                        <h5 class="modal-title glyphicon glyphicon-search"> 查询司机资料</h5>
                    </div>
                    <form id="formCheckship">
                        <div class="modal-body">
                            <div class="row" style="margin-top:5px;">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="col-lg-4 col-md-4 col-sm-4 text-right">
                                        <label class="control-label">司机编号:</label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        <input type="text" class="form-control" id="ShipCode" />
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:5px;">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="col-lg-4 col-md-4 col-sm-4 text-right">
                                        <label class="control-label">司机姓名:</label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        <input type="text" class="form-control" id="Abbreviation" />
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:5px;">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="col-lg-4 col-md-4 col-sm-4 text-right">
                                        <label class="control-label">所属机构:</label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        <input type="text" class="form-control" id="EnglishName" />
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:5px;">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <div class="col-lg-4 col-md-4 col-sm-4 text-right">
                                        <label class="control-label">所属车队:</label>
                                    </div>
                                    <div class="col-lg-8 col-md-8 col-sm-8">
                                        <input type="text" class="form-control" id="EnglishName" />
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top:5px;">
                                <div class="col-lg-10 col-md-10 col-sm-10 col-lg-offset-5">
                                    <button class="btn glyphicon glyphicon-search" type="button" id="modelcheck">查询</button>
                                    <button class="btn glyphicon glyphicon-remove" data-dismiss="modal">关闭</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Content/Tree/jquery.min.js"></script>
    <link href="~/Content/jquery.bsgrid-1.37/builds/merged/bsgrid.all.min.css" rel="stylesheet" />
    <script src="~/Content/bootstrap-3.3.7-dist/js/jquery-2.0.3.min.js"></script>
    <script src="~/Content/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="~/Content/jquery.bsgrid-1.37/builds/merged/bsgrid.all.min.js"></script>
    <script src="~/Content/jquery.bsgrid-1.37/builds/js/lang/grid.zh-CN.min.js"></script>
    <script src="~/Content/js/jquery.form.js"></script>
    <script src="~/Content/js/customfunction.js"></script>
    <script src="~/Content/js/combobox.js"></script>
    <script src="~/Content/layer/layer.js"></script>
    <script src="~/Content/Tree/Tree.js"></script>
    <script src="~/Content/Tree/jstree.min.js"></script>
    <script>

    </script>
    @*<script>
        var tabcity;
        var tabgatedot;
        $(function () {
            //Tree("#A", "/Basics/Basics/selectbillingxia")
            $("#A").jstree();
            setTimeout(function () {
                $("#j1_1_anchor").attr("onclick", "Tree1('')")
            }, 200)
            //查询城市表
            tabcity = $.fn.bsgrid.init('city', {
                url: 'selectbilling',
                autoLoad: true,//自动加载数据
                stripeRows: true,//隔行变色
                rowHoverColor: true,//划过行变色
                displayBlankRows: true,//是否显示空白行，默认值false
                rowSelectedColor: true,//是否显示选中行背景色
                pageSize: 8,//默认页面大小
                pageSizeSelect: true,//是否选择分页页数下拉框
                pagingLittleToolbar: true,//精简的图标按钮分页工具条
                //事件
                event: {
                    customRowEvents: {//自定义行事件
                        //(record行记录值,rowIndex行索引值,trObj:tr目标,options选择的东西)
                        click: function (record, rowIndex, trObj, options) {
                            Check("#city tr", rowIndex + 1);
                            chaxun1(record);
                        }
                    }
                }
            });
            Checkcity();
            //查询门点表
            tabgatedot = $.fn.bsgrid.init('gatedot', {
                url: 'selectGatedot',
                autoLoad: false,//自动加载数据
                stripeRows: true,//隔行变色
                rowHoverColor: true,//划过行变色
                displayBlankRows: true,//是否显示空白行，默认值false
                rowSelectedColor: true,//是否显示选中行背景色
                pageSize: 8,//默认页面大小
                pageSizeSelect: true,//是否选择分页页数下拉框
                pagingLittleToolbar: true,//精简的图标按钮分页工具条
                //事件
                event: {
                    customRowEvents: {//自定义行事件
                        //(record行记录值,rowIndex行索引值,trObj:tr目标,options选择的东西)
                        click: function (record, rowIndex, trObj, options) {
                            Check("#gatedot tr", rowIndex + 1);
                            SetState(record);
                            SetStatel(record);
                        }
                    }
                }

            });
            //城市下拉框
            appendOption("City", "selectcityxia");
            appendOption("Cityl", "selectcityxiaxia");
            //appendOption("province", "selectshenfenxia");
            //Checkdate();
        })
        //function Tree1(CityID) {
        //    tabship.search({ CityID: CityID })
        //}
        function Tree1(Province) {
            tabcity.search({ Province: Province })
        }
        //查询城市名称
        function checkcity() {
            Checkcity();
        }
        function Checkcity() {
            var CityName = $("#checkcity").val();
            if (CityName == null || CityName == undefined) {
                CityName = 0;
            }
            tabcity.search({ CityName: CityName });
        }
        //查询门点名称
        //function checkgate() {
        //    Checkdate();
        //}
        //function Checkdate() {
        //    var GatedotName = $("#checkgate").val();
        //    if (GatedotName == null || GatedotName == undefined) {
        //        GatedotName = 0;
        //    }
        //    tabgatedot.search({ GatedotName: GatedotName });
        //}
        //点击上表查出下表
        function chaxun1(record) {
            var CityID = record.CityID;
            tabgatedot.search({ CityID: CityID });
        }
        //true or false
        function SetState(record) {
            var WhetherSuperiorGatedot = record.WhetherSuperiorGatedot;
            if (WhetherSuperiorGatedot) {
                return '<span style="color:blue">有上级门点</span>';
            } else {
                return '<span style="color:red">无上级门点</span>';
            }
        }
        function SetStatel(record) {
            var WhetherValid = record.WhetherValid;
            if (WhetherValid) {
                return '<span style="color:blue">有效</span>';
            } else {
                return '<span style="color:red">无效</span>';
            }
        }
        //新增改变事件
        $("#province").change(function () {
            var Province = $("#province").val();
            appendOption("City", "selectcityxia?Province=" + Province);
        });
        //修改改变事件
        $("#provincel").change(function () {
            var Province = $("#provincel").val();
            appendOption("Cityl", "selectcityxiaxia?Province=" + Province);
        });
        //关闭
        $("#Close").click(function () {
            window.location.href = "/Main/Login";
        })
        //刷新
        $("#Refresh").click(function () {
            location.reload();
        })
        //新增
        $("#Insert").click(function () {
            $('#formInsert').resetForm();
            $("#modInsertExaminee").modal("show");
        });
        $("#Savegatedot").click(function () {
            var CityID = $('#formInsert [name="CityID"]').val();
            var GatedotCode = $('#formInsert [name="GatedotCode"]').val();
            var GatedotName = $('#formInsert [name="GatedotName"]').val();
            var WhetherSuperiorGatedot = $('#formInsert [name="WhetherSuperiorGatedot"]').val();
            var WhetherValid = $('#formInsert [name="WhetherValid"]').val();
            //判断一些必填项的数据是否为空
            if (GatedotCode != '') {
                if (GatedotName != '') {
                            if (CityID > 0) {
                                                    //显示 加载层（是第三方对话框的属性）
                                                    var layerIndex = layer.load(0);
                                                    //ajaxSubmit()提交表单:我们直接通过form提交的话， 提交后当前页面跳转到form的action所指向的页面。
                                                    //然而，很多时候我们并不希望提交表单后页面跳转，那么，我们就可以使用ajaxSubmit(obj)来提交数据
                                                    //ajaxSubmit(obj)方法是jQuery的一个插件jquery.form.js里面的方法，所以使用此方法需要先引入这个插件
                                                    $("#formInsert").ajaxSubmit(function (msg) {
                                                        layer.close(layerIndex);//关闭加载层
                                                        location.reload();//调用多条件查询方法：起到刷新表格的作用
                                                        //$("#formInsert").modal("hide");//关闭 modal
                                                        layer.alert(msg, { icon: 1, title: '提示' });
                                                    });
                            }
                            else {
                                layer.msg("城市名称不能为空！", { icon: 0 });
                            }
                        }
                        else {
                            layer.msg("门点名称不能为空！", { icon: 0 });
                        }
                    }
                    else {
                        layer.msg("门点编码不能为空！", { icon: 0 });
                    }
        })
        //编辑
        $("#Update").click(function () {
            var check = $("#gatedot input:checked");
            if (check.length == 0) {
                //0警告；1成功；2失败；3问号；4锁；5难过表情；6微笑表情
                layer.msg("请选择一条信息!", { icon: 0 });
            }
            if (check.length > 1) {
                layer.msg("只能选择一条信息!", { icon: 0 });
            }
            if (check.length == 1) {

                //var rowIndex = tabship.getSelectedRowIndex();
                //var ShipID = tabship.getColumnValue(rowIndex, "ShipID");
                $.post("/Basics/Basics/SelectGatedotById", { GatedotID: check[0].value }, function (data) {

                    loadDatatoForm("formUpdate", data);
                    //$("#ClientTypeIDl").val(data.ClientTypeID)
                })
                //appendOption("ClientTypeIDl", "selectshi");
                $("#modUpdateExaminee").modal("show");
            }
        })
        $("#UpdateSave").click(function () {
            var GatedotCode = $('#formUpdate [name="GatedotCode"]').val();
            var GatedotName = $('#formUpdate [name="GatedotName"]').val();
            var CityID = $('#formUpdate [name="CityID"]').val();
            if (GatedotCode != '') {
                if (GatedotName != '') {
                    if (CityID > 0) {
                        var layerIndex = layer.load(0);
                        $("#formUpdate").attr("action", "/Basics/Basics/UpdateGatedot?GatedotID=" + $("#gatedot input:checked")[0].value);
                        $("#formUpdate").ajaxSubmit(function (msg) {
                            layer.close(layerIndex);
                            tabgatedot.search();
                            //$("#modUpdateExaminee").modal("hide");
                            layer.alert(msg, { icon: 1, title: '提示' });
                        });
                    }
                    else {
                        layer.msg("城市名称不能为空！", { icon: 0 });
                    }
                   }
                   else {
                          layer.msg("门点名称不能为空！", { icon: 0 });
                    }
                  }
                    else {
                            layer.msg("门点编号不能为空！", { icon: 0 });
                 }
        });
        //删除
        $("#Delete").click(function () {
            var check = $("#gatedot input:checked");
            if (check.length > 0) {
                layer.confirm("确认删除数据",
                    {
                        icon: 0,
                        btn: ['确认', '取消']
                    },
                    function (layerIndex) {
                        layer.close(layerIndex);
                        for (var i = 0; i < check.length; i++) {
                            var id = check[i].value;
                            $.ajax({
                                type: "get",
                                async: false,
                                url: "DelectGatedot?GatedotID=" + id,
                                success: function (data) {
                                    if (data) {
                                        location.reload();
                                    } else {
                                        layer.alert("删除失败", { icon: 0, title: '提示' })
                                    }
                                }
                            })
                        }
                    });
            }
            else {
                layer.msg('请选择删除的数据', { icon: 0 });
            }
        });
        //excel导出
        $("#ExportToExcel").click(function () {
            //var CityName = $("#checkcity").val();
            //if (CityName == null || CityName == undefined) {
            //    CityName = "";
            //}
            //var str = 'CityName=' + CityName;
            var oldStr = tabgatedot.getPageCondition(tabgatedot.getCurPage());
            if (oldStr.indexOf) {
                layer.confirm("是否要导出当前的数据？", {
                    icon: 3,
                    btn: ['确定', '取消']
                }, function (layerIndex) {
                    layer.close(layerIndex);
                    window.open("GatedotExportToExcel");
                })
            }
            else {
                layer.msg("预览是否是需要导出", { icon: 0, title: '提示' });
            }
        });
        //打印
        $("#Print").click(function () {
            //var ShipCode = $("#ShipCode").val();
            //if (ShipCode == null || ShipCode == undefined) {
            //    ShipCode = "";
            //}
            window.open("PrintAchievementGatedot");
        })
    </script>*@
</body>
</html>
