@{
    Layout = null;
}

<!DOCTYPE html>

<html >
 <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Main</title>
    <meta name="description" content="Pixma Responsive HTML5/CSS3 Template from FIFOTHEMES.COM">
    <meta name="author" content="FIFOTHEMES.COM">
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Library CSS -->
    <link rel="stylesheet" href="~/Main/css/bootstrap.css">
    <link rel="stylesheet" href="~/Main/css/fonts/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="~/Main/css/superfish.css" media="screen">
    <!-- Theme CSS -->
    <link href="~/Main/css/style.css" rel="stylesheet" />
    <!-- Skin -->
    <link rel="stylesheet" href="~/Main/css/blue.css" id="colors">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Main/css/theme-responsive.css">
    <!-- Favicons -->
    <link rel="shortcut icon" href="~/Main/img/favicon.ico">
<style>
 .sf-menu a{
   font-size:15px!important;
 }
</style>
</head>
<body >
    <div>
        <!-- Header Start -->
        <header id="header">
            <div class="top-bar">
                <div class="slidedown collapse">
                    <div class="container">
                          
                    </div>
                </div>
            </div>
            <!-- Main Header Start -->
            <div class="main-header">
                <div class="">
                    <div class="logo col-sm-3" style="text-align:center;margin-right:100px">
                        <h1 style="color:#fff;font-family:Rage;font-size:55px">
                            SeaTransportation
                        </h1>
                    </div>
                    <div class="col-sm-6">
                        <nav class="collapse navbar-collapse menu">
                            <ul class="nav navbar-nav sf-menu" style="font-family:华文行楷">
                                <li>
                                    <a id="Main" href="" >
                                     主页面
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="sf-with-ul">
                                        系统管理
                                        <span class="sf-sub-indicator">
                                            <i class="icon-angle-down "></i>
                                        </span>
                                    </a>
                                    <ul>
                                        <li><a href="javascript:;" class="sf-with-ul" id="OrganizationStructure">组织结构</a></li>
                                        <li><a href="javascript:;" class="sf-with-ul" id="DivisionalManagement">部门管理</a></li>
                                        <li><a href="javascript:;" class="sf-with-ul" id="StaffManagement">员工管理</a></li>
                                        <li><a href="javascript:;" class="sf-with-ul" id="UserManagement">用户管理</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="" class="sf-with-ul">
                                        基础数据
                                        <span class="sf-sub-indicator">
                                            <i class="icon-angle-down "></i>
                                        </span>
                                    </a>
                                    <ul>
                                        <li><a href="javascript:;" class="sf-with-ul" id="ShipData">船舶资料</a></li>
                                        <li><a href="javascript:;" class="sf-with-ul" id="BillingDot">计费门点</a></li>
                                        <li>
                                            <a href="javascript:;" class="sf-with-ul">
                                                司机档案
                                                <span class="sf-sub-indicator pull-right">
                                                    <i class="icon-angle-right "></i>
                                                </span>
                                            </a>
                                            <ul>
                                                <li><a href="javascript:;" class="sf-with-ul" id="DriverData">司机资料</a></li>
                                                <li><a href="javascript:;" class="sf-with-ul" id="DriverThis">司机本</a></li>
                                            </ul>
                                        </li>
                                        <li>
                                            <a href="javascript:;" class="sf-with-ul">
                                                车辆档案
                                                <span class="sf-sub-indicator pull-right">
                                                    <i class="icon-angle-right "></i>
                                                </span>
                                            </a>
                                            <ul>
                                                <li><a href="javascript:;" class="sf-with-ul" id="VehicleManagement">车辆管理</a></li>
                                                <li><a href="javascript:;" class="sf-with-ul" id="BracketData">托架资料</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="javascript:;" class="sf-with-ul" id="CarryRepay">提还柜地</a></li>
                                        <li><a href="javascript:;" class="sf-with-ul" id="CustomsManagement">关区管理</a></li>
                                        <li><a href="javascript:;" class="sf-with-ul" id="TransitRoute">运输路线</a></li>
                                        <li>
                                            <a href="javascript:;" class="sf-with-ul">
                                                运输合同报价
                                                <span class="sf-sub-indicator pull-right">
                                                    <i class="icon-angle-right "></i>
                                                </span>
                                            </a>
                                            <ul>
                                                <li><a href="javascript:;" class="sf-with-ul" id="ClientStandardFreight">客户标准运费</a></li>
                                                <li><a href="javascript:;" class="sf-with-ul" id="ClientReceivable">客户应收费用</a></li>
                                                <li><a href="javascript:;" class="sf-with-ul" id="MotorcadeStandardFreight">车队标准运费</a></li>
                                                <li><a href="javascript:;" class="sf-with-ul" id="DriverProductionValue">司机产值</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="javascript:;" class="sf-with-ul" id="CostProject">费用项目</a></li>
                                        <li><a href="javascript:;" class="sf-with-ul" id="SystemParities">系统汇率</a></li>
                                        <li><a href="javascript:;" class="sf-with-ul" id="PortData">港口资料</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="javascript:;" class="sf-with-ul">
                                        客户关系
                                        <span class="sf-sub-indicator">
                                            <i class="icon-angle-down "></i>
                                        </span>
                                    </a>
                                    <ul>
                                        <li><a href="javascript:;" class="sf-with-ul" id="ClientManagement">客户管理</a></li>
                                    </ul>
                                </li>
                                <li>
                                <a href="javascript:;" class="sf-with-ul">
                                        运输业务管理
                                        <span class="sf-sub-indicator">
                                            <i class="icon-angle-down "></i>
                                        </span>
                                    </a>
                                    <ul>
                                        <li><a href="javascript:;" class="sf-with-ul" id="EntrustListManagement">委托单管理</a></li>
                                        <li><a href="javascript:;" class="sf-with-ul" id="VehicleSchedulingReport">车辆调度报表</a></li>
                                        <li><a href="javascript:;" class="sf-with-ul" id="VehicleOperationSchedule">车辆作业明细表</a></li>
                                        <li><a href="javascript:;" class="sf-with-ul" id="VehicleOperationSummarySheet">车辆作业汇总表</a></li>
                                        <li><a href="javascript:;" class="sf-with-ul" id="DriverWorkSchedule">司机作业明细表</a></li>
                                        <li><a href="javascript:;" class="sf-with-ul" id="DriverJobSummary">司机作业汇总表</a></li>
                                        <li><a href="javascript:;" class="sf-with-ul" id="AccountsReceivableDetailFreight">应收运费明细表</a></li>
                                        <li><a href="javascript:;" class="sf-with-ul" id="SummaryFreightReceivable">应收运费汇总表</a></li>
                                        <li><a href="javascript:;" class="sf-with-ul" id="ScheduleFreightPayable">应付运费明细表</a></li>
                                        <li><a href="javascript:;" class="sf-with-ul" id="SummaryFreightPayable">应付运费汇总表</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="" class="sf-with-ul">
                                        商务结算
                                        <span class="sf-sub-indicator">
                                            <i class="icon-angle-down "></i>
                                        </span>
                                    </a>
                                    <ul>
                                        <li><a href="javascript:;" class="sf-with-ul" id="BusinessAudit">商务审核</a></li>
                                        <li><a href="javascript:;" class="sf-with-ul" id="FinancialSettlement">财务结算</a></li>
                                        <li><a href="javascript:;" class="sf-with-ul" id="CollectPay">实收实付</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="col-sm-1" style="padding:0">
                        <ul class="social" style="text-align:right;line-height:80px">
                            <li class="dropdown twitter">
                                <a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                    <i class="icon-user"></i>
                                </a>
                                <ul class="dropdown-menu dropdown-alerts" style="width:250px;margin-left: -110px;text-align:center;font-family:华文行楷;">
                                    <img src="~/Main/img/84.jpg" style="height:130px;border-radius:50%!important;margin:10px 0" />
                                    <div style="margin:10px 20px;text-align:left">公司名称:&nbsp;&nbsp;<span  id="CompanyName"></span></div> 
                                    <div style="margin:10px 20px;text-align:left" >部门名称:&nbsp;&nbsp;<span id="DepartmentName"></span></div>
                                    <div style="margin:10px 20px;text-align:left" >账户名称:&nbsp;&nbsp;<span id="AccountName"></span></div>
                                    <div style="margin:10px 20px;text-align:left" >登录时间:&nbsp;&nbsp;<span id="LoginTime"></span></div>  
                                </ul>
                            </li>
                            <li class="twitter"><a style="cursor: pointer;"><i class="icon-power-off"></i></a></li>
                        </ul>
                    </div> 
                    <div class="col-sm-1"  style="text-align:left;padding:0;margin:0">
                        <div id="search-form" class="col-sm-6" style="text-align:left;padding:0;margin:0;line-height:78px">
                            <form action="#" method="get">
                                <input type="text" class="search-text-box">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Main Header End -->    
        </header>
        <!-- Header End -->

        <!-- Content Start -->
        @*<div style="height:1000px;">*@
            <iframe id="Content" style="width:100%;height:910px" src="/Main/index" frameborder="0"></iframe>
        @*</div>*@
        <!-- Content End -->

        <!-- Footer Start -->
        <footer>

         </footer>
        <!-- Footer End -->
    </div>

    <!-- The Scripts -->
    <script src="~/Main/js/jquery.min.js"></script>
    <script src="~/Main/js/bootstrap.js"></script>
    <script>
        $(function () {
            $.post("/Main/Home", function (Data) {
                $("#CompanyName").html(Data[1])
                $("#DepartmentName").html(Data[2])
                $("#AccountName").html(Data[0])
                $("#LoginTime").html(Data[3])
            })
        })
        //退出
        $("#twitter").click(function () {
            window.location.href = "/Main/Login"

        })
        //主页面
        $("#Main").click(function () {
            $("#Content").attr("src", "/Main/index")
        })

        //运输业务管理

        //委托单管理
        $("#EntrustListManagement").click(function () {
            $("#Content").attr("src","/Forwarding/Forwarding/Forwarding")
        })
        //车辆调度报表
        $("#VehicleSchedulingReport").click(function () {
            $("#Content").attr("src", "/Forwarding/Statement/VehicleSchedulingReport")
        })
        //车辆作业明细表
        $("#VehicleOperationSchedule").click(function () {
            $("#Content").attr("src", "/Forwarding/Statement/VehicleOperationSchedule")
        })
        //车辆作业汇总表
        $("#VehicleOperationSummarySheet").click(function () {
            $("#Content").attr("src", "/Forwarding/Statement/VehicleOperationSummarySheet")
        })
        //司机作业明细表
        $("#DriverWorkSchedule").click(function () {
            $("#Content").attr("src", "/Forwarding/Statement/DriverWorkSchedule")
        })
        //司机作业汇总表
        $("#DriverJobSummary").click(function () {
            $("#Content").attr("src", "/Forwarding/Statement/DriverJobSummary")
        })
        //应收运费明细报表
        $("#AccountsReceivableDetailFreight").click(function () {
            $("#Content").attr("src", "/Forwarding/Statement/AccountsReceivableDetailFreight")
        })
        //应收运费汇总表
        $("#SummaryFreightReceivable").click(function () {
            $("#Content").attr("src", "/Forwarding/Statement/SummaryFreightReceivable")
        })
        //应付运费明细表
        $("#ScheduleFreightPayable").click(function () {
            $("#Content").attr("src", "/Forwarding/Statement/ScheduleFreightPayable")
        })
        //应付运费汇总表
        $("#SummaryFreightPayable").click(function () {
            $("#Content").attr("src", "/Forwarding/Statement/SummaryFreightPayable")
        })
        //应付报关费明细表
        $("#ScheduleCustomsChargesPayable").click(function () {
            $("#Content").attr("src", "/Forwarding/Statement/ScheduleCustomsChargesPayable")
        })
        //应付报关费汇总表
        $("#SummaryCustomsChargesPayable").click(function () {
            $("#Content").attr("src", "/Forwarding/Statement/SummaryCustomsChargesPayable")
        })
        //船名航次明细表
        $("#NameVoyageSchedule").click(function () {
            $("#Content").attr("src", "/Forwarding/Statement/NameVoyageSchedule")
        })
        //船名航次汇总表
        $("#ShipNameVoyageSummarySheet").click(function () {
            $("#Content").attr("src", "/Forwarding/Statement/ShipNameVoyageSummarySheet")
        })

        $("#BusinessAudit").click(function () {
            //使商务审核页面询套到主页面
            $("#Content").attr("src", "/Commerce/Examine/ExamineIndex");
        })

        $("#FinancialSettlement").click(function () {
            //使财务结算页面询套到主页面
            $("#Content").attr("src", "/Commerce/Examine/FinanceIndex");
        })

        $("#CollectPay").click(function () {
            //使应收应付页面询套到主页面
            $("#Content").attr("src", "/Commerce/Examine/ShiShouShiFu");
        })

        $("#ClientManagement").click(function () {
            //使客户管理页面询套到主页面
            $("#Content").attr("src", "/ClientManage/ClientManage/ClientManage");
        })

        $("#ClientStandardFreight").click(function () {
            //使客户标准运费页面询套到主页面
            $("#Content").attr("src", "/ClientManage/ClientManage/ClientMeasure");
        })

        $("#ClientReceivable").click(function () {
            //使客户应收运费页面询套到主页面
            $("#Content").attr("src", "/ClientManage/ClientManage/ClientReceivable");
        })

        $("#MotorcadeStandardFreight").click(function () {
            //使车队标准运费页面询套到主页面
            $("#Content").attr("src", "/ClientManage/ClientManage/MotorcadeMeasure");
        })

        $("#DriverProductionValue").click(function () {
            //使司机产值页面询套到主页面
            $("#Content").attr("src", "/ClientManage/ClientManage/ChauffeurProduce");
        })


        $("#ShipData").click(function () {
            //使船舶资料页面询套到主页面
            $("#Content").attr("src", "/Basics/Basics/Ship");
        })
        $("#BillingDot").click(function () {
            //使计费门点页面询套到主页面
            $("#Content").attr("src", "/Basics/Basics/Billing");
        })
        $("#DriverData").click(function () {
            //使司机资料页面询套到主页面
            $("#Content").attr("src", "/Basics/Basics/Chauffeur");
        })
        $("#DriverThis").click(function () {
            //使司机本页面询套到主页面
            $("#Content").attr("src", "/Basics/Basics/DriverBook");
        })
        $("#VehicleManagement").click(function () {
            //使车辆管理页面询套到主页面
            $("#Content").attr("src", "/Basics/Basics/VehicleInformation");
        })
        $("#BracketData").click(function () {
            //使托架资料页面询套到主页面
            $("#Content").attr("src", "/Basics/Basics/Bracket");
        })
        $("#CarryRepay").click(function () {
            //使提还柜地页面询套到主页面
            $("#Content").attr("src", "/Basics/Basics/Mention");
        })
        $("#CustomsManagement").click(function () {
            //使关区管理页面询套到主页面
            $("#Content").attr("src", "/Basics/Basics/Customs");
        })
        $("#TransitRoute").click(function () {
            //使运输路线页面询套到主页面
            $("#Content").attr("src", "/Basics/Basics/HaulWayy");
        })
        $("#CostProject").click(function () {
            //使费用项目页面询套到主页面
            $("#Content").attr("src", "/Basics/Basics/Expense");
        })
        $("#SystemParities").click(function () {
            //使系统汇率页面询套到主页面
            $("#Content").attr("src", "/Basics/Basics/Parities");
        })
        $("#PortData").click(function () {
            //使港口资料页面询套到主页面
            $("#Content").attr("src", "/Basics/Basics/Port");
        })
        $("#OrganizationStructure").click(function () {
            //使组织结构页面询套到主页面
            $("#Content").attr("src", "/PPAP/SystemAAM/TissueStructure");
        })
        $("#DivisionalManagement").click(function () {
            //使部门管理页面询套到主页面
            $("#Content").attr("src", "/PPAP/BranchManagement/BranchManagement");
        })
        $("#StaffManagement").click(function () {
            //使员工管理页面询套到主页面
            $("#Content").attr("src", "/PPAP/StaffControl/StaffControl");
        })
        $("#UserManagement").click(function () {
            //使用户管理页面询套到主页面
            $("#Content").attr("src", "/PPAP/UserManagement/UserManagement");
        })
    </script>
</body>
</html>
